APP_ENV=development
APP_NAME="TVRI Jatim Social Media Planner"
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_planning_tvri
DB_USER=root
DB_PASS=
BASE_URL=http://localhost/tvri-sosmed
SESSION_NAME=TVRI_SESSION
SESSION_LIFETIME=1800
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
SMTP_HOST=
SMTP_PORT=587
MAIL_FROM=noreply@tvri-jatim.com
META_APP_ID=
META_APP_SECRET=
YOUTUBE_API_KEY=
TIKTOK_APP_ID=
TIKTOK_APP_SECRET=
TWITTER_API_KEY=
TWITTER_API_SECRET=
APP_KEY=
