RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
<FilesMatch "\.(env|sql|md|log|json|lock)$">
    Order deny,allow
    Deny from all
</FilesMatch>
<FilesMatch "^\.">
    Order deny,allow
    Deny from all
</FilesMatch>
RewriteRule ^(config|helpers|middleware|routes|database) - [F,L]



php_value post_max_size 256M
php_value upload_max_filesize 256M

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript
    AddOutputFilterByType DEFLATE application/javascript application/json
</IfModule>
